extends layout

block content
	.container-fluid
		.jumbotron
			include logosmall
			br
			form(action='/group/#{groupName}', method='get', align='center')
				button.titlebutton
					h2#subtitle=groupName
			br
			.row
				.col-xs-2.col-md-4
				.col-xs-8.col-md-4.boxme(align='center')
					form(action="/createevent",method="post")
						fieldset
							br
							input.form-control(type="hidden", name='groupName', value=groupName)
							p Event Name
							input.form-control(type="text", name="eventName", placeholder="Event Name")
							br
							br
							p Event Creator
							input.form-control(type="text", name="eventCreator", placeholder="Event Creator")
							br
							br
							p Event Password
							input.form-control(type="text", name="eventPassword", placeholder="Event Password")
							br
							br
							p Option 1
							input.form-control(type="text", name="option1", placeholder="Option 1")
							br
							br
							p Option 2
							input.form-control(type="text", name="option2", placeholder="Option 2")
							br
							br
							br
							button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Event
			br
			br
			br
			include questionfoot