mixin picMe(number)
	.col-xs-4
		a: img.img-responsive.img-rounded(src='/images/IMG_#{number}.JPG')
mixin picMeNew(number)
	.container-fluid
		.row
			.col-xs-4
				a: img.img-responsive.img-rounded(align='center', src='/images/IMG_#{number}.JPG')
h1 Vavoom Gallery
-var i=0
while i<6
	+picMe(i)
	- i++
