extends layout

block content
	.container-fluid
		.jumbotron
			form(action='/', method='get', align='center')
				button.titlebutton
					h1#title Bet Log
			h3#subtitle Place your bets!
			br
			br
			br
			br
			.row
				.col-xs-2.col-sm-3
				.col-xs-8.col-sm-6.boxme(align='center')
					h3 Group Name
					form(action='/creategroup', method='post')
						input.form-control(type="text", name="groupName", placeholder="Group Name")
						br
						br
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Group
			br