form(action="/createevent",method="post")
	input(type="hidden", name='groupName', value=givenTitle)
	p Event Name:
	input(type="text", name="eventName")
	p Event Creator:
	input(type="text", name="eventCreator")
	p Option 1:
	input(type="text", name="option1")
	p Option 2:
	input(type="text", name="option2")
	br
	input(type="submit")
