extends layout

block content
	.container-fluid
		.jumbotron
			form(action='/', method='get', align='center')
				button.titlebutton
					h1#title Bet Log
			h3#subtitle Organize Your Bets Here
			br
			br
			br
			br
			.row
				.col-xs-3
				.col-xs-6.boxme(align='center')
					h3 Group Name
					form(action='/joingroup', method='post')
						input.form-control(type="text", name="groupName", placeholder="Group Name")
						br
						br
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Join Group
				.col-xs-3
			br