extends layout

block content
	.container-fluid
		.jumbotron
			h1#title=givenTitle
			h3#subtitle Place your bets using our site!
			br
			br
			br
			br
			br
			br
			.row
				.col-xs-3
				.col-xs-6
					form(action='/creategrouppage', method='post')
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Group
				.col-xs-3
			br
			.row
				.col-xs-3
				.col-xs-6
					form(action='/joingrouppage', method='post')
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Join Group
				.col-xs-3