extends layout

block content
	.container-fluid
		.jumbotron
			include logo
			h3#subtitle Place your bets!
			br
			br
			br
			br
			br
			br
			.row
				.col-xs-2.col-sm-3
				.col-xs-8.col-sm-6
					form(action='/creategrouppage', method='post')
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Create Group
			br
			.row
				.col-xs-2.col-sm-3
				.col-xs-8.col-sm-6
					form(action='/joingrouppage', method='post')
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Join Group
			br
			br
			br
			include questionfoot