extends layout

block content
	.container-fluid
		.jumbotron
			h1#title=givenTitle
			h2#subtitle Place your bets using our site!
			br
			br
			br
			br
			.row
				.col-xs-3
				.col-xs-6.boxme(align='center')
					h3 Group Name
					form(action='/joingroup', method='post')
						fieldset
							input(type="text", name="groupName", placeholder="Group Name")
							br
							br
							button.btn.btn-primary.btn-lg.btn-block(type="submit") Join Group
				.col-xs-3
			br