extends layout

block content
	.container-fluid
		.jumbotron
			include logo
			h3#subtitle Place your bets!
			br
			br
			br
			br
			.row
				.col-xs-2.col-sm-4
				.col-xs-8.col-sm-4.boxme(align='center')
					h3 Group Name
					form(action='/joingroup', method='post')
						input.form-control(type="text", name="groupName", placeholder="Group Name")
						br
						br
						button.btn.btn-primary.btn-lg.btn-block(type="submit") Join Group
				.col-xs-3
			br
			include questionfoot
