.jumbotron {
	background: url("http://www.addictionsearch.com/_media/addictionsearch/stock/430_238/gambling_addict_defined.jpg");
	background-position: center;
	background-repeat: no-repeat;
	display:compact;
	height:540px;
	color:black;
}

