body{
	background: url("/images/background.jpg");
	background-size: 100%;
	background-position: center;
	background-color: #AF7947;
	font-family: 'Helvetica', 'MarkerFelt-Thin', 'Baskerville';
}

.container-fluid{
	padding-left: 5%;
	padding-right: 5%;
}

.jumbotron {
	background: rgb(200, 54, 54); /* This is for ie8 and below */
   	background: rgba(200, 54, 54, 0.0); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display:compact;
	height:540px;
	color:white;
}

#title{
	font-weight: bold;
	text-align: center;
}

#subtitle{
	color:white;
	text-align: center;
}

button {
	text-align:center;
}

input {
	color:black;
	width: 60%;
}

img {
	width : 100%;
	height : 100%;
}

.boxed {
	border: 5px solid white;
	border-radius: 5px;
	padding: 10px;
	background: rgb(200, 54, 54); /* This is for ie8 and below */
   	background: rgba(200, 54, 54, 0.5);
   	color: white;   
   	text-decoration: none !important;	
}

.boxed:hover {
	border: 5px solid white;
	border-radius: 5px;
	padding: 10px;
	background: rgb(200, 100, 54); /* This is for ie8 and below */
   	background: rgba(200, 0, 54, 0.5);
   	color: white;
   	text-decoration: none !important;
}

.bet:hover {
	border: 5px solid white;
	border-radius: 5px;
	padding: 10px;
	background: rgb(200, 54, 54); /* This is for ie8 and below */
   	background: rgba(200, 54, 54, 0.5);
   	color: white;   
   	text-decoration: none !important;	
}

.winningbet {
	background: rgb(100, 200, 30); /* This is for ie8 and below */
   	background: rgba(100, 200, 30, .6);
}

.winningbet:hover {
	background: rgb(100, 200, 30); /* This is for ie8 and below */
   	background: rgba(100, 200, 30, .6);
}

.losingbet {
	background: rgb(200, 30, 0); /* This is for ie8 and below */
   	background: rgba(200, 30, 0, .6);
}

.losingbet:hover {
	background: rgb(150, 30, 0); /* This is for ie8 and below */
   	background: rgba(150, 30, 0, .6);
}

.completedevent {
	background: rgb(120, 120, 120); /* This is for ie8 and below */
   	background: rgba(120, 120, 120, .5);
}

.completedevent:hover{
	background: rgb(79, 79, 79); /* This is for ie8 and below */
   	background: rgba(79, 79, 79, .5);
}

.titlebutton {
	margin: auto;
	border: 0px solid white;
	border-radius: 0px;
	padding: 0px;
	background: rgb(200, 100, 54); /* This is for ie8 and below */
   	background: rgba(200, 0, 54, 0.0);
   	color: white;
   	text-decoration: none !important;
}

.accessgranted {
	text-align: center;
	color: gold;
	font-family: 'Courier';
}